<header class="content container-fluid">
  <article class="col-md-12 col-xs-12 text-center">
    <h1>H<i class="fa fa-map-marker"></i>telFinder</h1>
    <% if request.original_fullpath == "/" %>
      <h2>find the best hotel through your interests</h2>
    <% end %>
  </article>
</header>