<section class="container">
  <div id="input-wrapper" class="col-md-12 col-xs-12">
    <input type="text" name="get-places" id="get-places">
  </div>

  <div id="map" class="pull-left col-md-8 col-xs-8"></div>
  <div id="mapList" class="pull-left col-md-4 col-xs-4">
    <h2>Points of interest</h2>
    <ul>
    </ul>
  </div>  
</section>