<section class="container main-content">
  <div id="input-wrapper" class="col-md-12 col-xs-12">
    <span>What do you want to visit in Madrid?</span>
    <input type="text" name="get-places" id="get-places" placeholder="Place, street, monument...">
  </div>

  <div class="col-md-12 col-xs-12">
    <div id="map" class="pull-left col-md-8 col-xs-8"></div>
    <div id="mapList" class="pull-left col-md-4 col-xs-4">
      <ul>
      </ul>
    </div>
    <button class="find-hotels pull-left col-md-8 col-xs-8 hidden">Find the best hotel</button>
  </div>
</section>