<section class="container main-content">
  <% @cities.each do |city| %>
    <article class="pull-left col-md-4 col-xs-4">
      <div class="cities">
        <%= link_to city_path(city) do %>
          <%= image_tag city.image.url, class: 'transform' %>
          <div class="city"><%= city.name %></div>
        <% end %>
      </div>
    </article>
  <% end %>
</section>