@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400);

html,
body {
  font-family: 'Roboto';
  height: 100%;
}

h1,
h2 {
  color: #e41157;
  font-family: 'Roboto';
  font-weight: 100;
  margin: 0;
}

h1 {
  font-size: 54px;
  font-weight: 300;
  text-transform: uppercase;
}

h2 {
  font-size: 20.1px;
}

header.content {
  min-height: 60%;
  padding-top: 20px;
  width: 100%;
}

button.find-hotels {
  background: #e41157;
  border: 1px solid #e41157;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  margin-top: 10px;
  padding: 6px 0;
  text-align: center;
  text-transform: uppercase;
  transition: .2s linear all;
}

button.find-hotels:hover {
  background: #f01d63;
  border-color: #f01d63;
  box-shadow: 0 2px 10px #ccc;
}

footer {
  background: #333;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 15px;
  padding: 35px 0;
}

footer a,
footer a:visited {
  color: #aaa;
  transition: .2s linear all;
}

footer a:hover {
  color: #e41157;
  text-decoration: none;
}

#get-places {
  border: 1px solid #e9e9e9;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  font-size: 15px;
  font-weight: 300;
  margin-top: 5px;
  margin-bottom: 30px;
  outline: 0;
  transition: .2s linear all;
  width: 100%;
}

#get-places:focus {
  border-color: #333;
}

#input-wrapper {
  margin: 0 0 40px 0;
  width: 100%;
  height: 50px;
}

#input-wrapper input {
  height: 35px;
  box-sizing: border-box;
  padding: 10px;
  font-size: 14px;
}

#map {
  height: 75vh;
  padding: 0;
}

#loading p {
  color: #e41157;
  font-weight: 300;
  margin: 10px 0 0 0;
}

.actions,
.field {
  margin: 20px auto;
  width: 500px;
}

.actions input,
.actions input:visited {
  background: #e41157;
  border: 1px solid #e41157;
  color: #fff;
  font-size: 18px;
  font-weight: 100;
  height: 40px;
  transition: .2s linear all;
  width: 100%;
}

.actions input:hover {
  background: #f01d63;
  border-color: #f01d63;
  box-shadow: 0 2px 10px #ccc;
}

.admin-header {
  height: 100px;
  margin: 20px auto 0;
  width: 400px;
}

.fa-map-marker {
  color: #e41157;
  font-size: 50px;
  margin-right: 10px;
  margin-top: 3px;
}

.field input {
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-width: 1px;
  font-size: 20px;
  font-weight: 100;
  height: 40px;
  outline: 0;
  text-align: center;
  width: 100%;
}

.field label {
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 300;
}

.main-content {
  padding: 50px 0;
}

.main-content span {
  color: #9e9e9e;
  font-size: 18px;
  font-weight: 100;
  transition: .2s linear all;
}

.main-content span.js-focus-color {
  color: #333;
}

.main-content li {
  color: #333;
  font-size: 15px;
  font-weight: 300;
  list-style-type: none;
  padding-left: 0;
}

.hidden {
  display: none;
}

.remove-marker,
.remove-marker:visited {
  color: #e41157;
  cursor: pointer;
  text-decoration: underline;
  transition: .2s linear all;
}

.remove-marker:hover {
  color: #333;
  text-decoration: none;
}