@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400);

html,
body {
  font-family: 'Roboto';
}

h1,
h2 {
  color: #e41157;
  font-family: 'Roboto';
  font-weight: 100;
  margin: 0;
}

h1 {
  font-size: 54px;
  font-weight: 300;
  text-transform: uppercase;
}

h2 {
  font-size: 20.1px;
}

header article.col-md-12 {
  margin-top: 20px;
}

header article.col-md-12 img {
  margin-top: 5px;
}

#get-places {
  width: 100%;
  margin-bottom: 10%;
}

#input-wrapper {
  margin: 0;
  width: 100%;
  height: 50px;
}

#input-wrapper input {
  height: 35px;
  box-sizing: border-box;
  padding: 10px;
  font-size: 14px;
}

#map {
  height: 75vh;
}

button.find-hotels {
  margin-top: 10px;
}